@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Outfit", sans-serif;
    background:  hsl(212, 45%, 89%);
}

.container{
    width: 25rem;
    height: 35rem;
    text-align: center;
    margin: 40px auto;
    background: hsl(0, 0%, 100%);
    border-radius: 20px;
}

.container img{
    border-radius: 10px;
    margin: 20px;
    width: 320px;
}

.section-content h1{
    font-size: 26px;
    padding: 0 30px;
    color : hsl(218, 44%, 22%);
}

.section-content p{
    font-size: 16px;
    line-height: 1.6;
    margin-top: 20px;
    padding: 0 40px;
    color: hsl(212, 10%, 69%);
}

.attribution{
    text-align: center;
    padding: 20px;
}

.attribution a{
    text-decoration: none;
    color: hsl(218, 44%, 22%);
    font-weight: 900;
}